{% extends 'base.html' %}

{% load staticfiles %}

{% block search %}

{% endblock %}

{% block body %}

<div class="bs-example" data-example-id="panel-without-body-with-table">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading" style="font-size: 20px">商品信息列表</div>

        <!-- Table -->
        <table class="table">
            <thead>
            <tr>
                <th>序号</th>
                <th>分类名称</th>
                <th>商品数量</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for c in data_list %}
            <tr>
                <th scope="row">{{ c.2 }}</th>
                <td><a name="{{ c.2 }}" href="{% url 'storage_system:product_category_list' c.2 %}">{{ c.0 }}</a></td>
                <td><a name="{{ c.2 }}" href="{% url 'storage_system:product_category_list' c.2 %}">{{ c.1 }}</a></td>
                <td>{{ c.3 }}</td>
                <td>
                    <a name="{{ c.2 }}" href="{% url 'storage_system:category_update' c.2 %}" >修改信息</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% ifequal count 0 %}
    <h1 style="text-align: center; line-height: 400px">当前没有分类,快去<a href="/create_category/">添加</a>吧</h1>
    {% endifequal %}
</div>
{% endblock %}
