{% extends 'base.html' %}

{% load staticfiles %}

{% block search %}

<!-- Topbar Search -->
<form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" method="POST"
      action="/product_search/">
    {% csrf_token %}
    <div class="input-group">
        <div class="input-group-append">
            <input type="text" style="height: 30px" class="form-control bg-light border-0 small" placeholder="搜索" aria-label="Search" aria-describedby="basic-addon2" name="keyword" required="required">
            <button class="btn btn-primary" type="submit">
                <i class="fas fa-search fa-sm" ></i>
            </button>
        </div>
    </div>
</form>
{% endblock %}

{% block body %}

<div class="bs-example" data-example-id="panel-without-body-with-table">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading" style="font-size: 20px">商品信息列表</div>

        <!-- Table -->
        <table class="table">
            <thead>
            <tr>
                <th>序号</th>
                <th>商品名称</th>
                <th>商品价格</th>
                <th>商品图片</th>
<!--                <th>商品状态</th>-->
                <th>商品分类</th>
                <th>库存数量</th>
                <th>入库时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for p in product %}
            <script>
                function show{{ p.id }}() {
                  document.getElementById("dialog-img{{ p.id }}").style.display = 'block';
                }
                function hide{{ p.id }}() {
                  document.getElementById("dialog-img{{ p.id }}").style.display = 'none';
                }
                </script>
            {% endfor %}
            {% for p in product %}
            <tr>
                <th scope="row">{{ p.id }}</th>
                <td>{{ p.name }}</td>
                <td>{{ p.price }}</td>
                <td>
                    <div data-toggle="modal" data-target=".bs-example-modal-lg"><a href="#" onclick="show{{ p.id }}()">查看图片</a>
                    </div>
                </td>
                <div class="dialog-mask" id="dialog-img{{ p.id }}" onclick="hide{{ p.id }}()">
                    <div class="dialog-conent">
                        <img src="/media/{{ p.image }}/">
                    </div>
                </div>

                <td>{{ p.category }}</td>
                <td>{{ p.storage }}</td>
                <td>{{ p.created_time }}</td>
                <td>
                    <a name="{{ p.id }}" href="{% url 'storage_system:product_detail' p.id %}">查看详情</a>
                    <span>|</span>
                    <a name="{{ p.id }}" href="{% url 'storage_system:product_update' p.id %}">修改信息</a>
                    <span>|</span>
                    {% ifequal p.storage 0 %}
                    <a style="color: red" name="{{ p.id }}" href="{% url 'storage_system:product_update' p.id %}">需要补货</a>
                    {% else %}
                    <a name="{{ p.id }}" href="{% url 'storage_system:product_sold' p.id %}">商品销货</a>
                    {% endifequal %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% ifequal count 0 %}
    <h1 style="text-align: center; line-height: 400px">当前没有商品,快去<a href="/create_product">添加</a>吧</h1>
    {% endifequal %}
    <div id="pages" class="text-center" style="float: right">
        <nav>
            <ul class="pagination">
                <li class="step-links">
                {% if product.has_previous %}
                    <a class='active' href="/product_list/?page={{ product.previous_page_number }}">上一页</a>
                {% endif %}

                <span class="current">
                    第{{ product.number }}/{{ product.paginator.num_pages }}页</span>

                {% if product.has_next %}
                    <a class='active' href="/product_list/?page={{ product.next_page_number }}">下一页</a>
                {% endif %}
                </li></ul></nav></div>
</div>

{% endblock %}
