{% extends 'base.html' %}

{% load staticfiles %}

{% block search %}

<!-- Topbar Search -->
<form style="padding-left: 0%" class="form" action="." method="post" enctype="multipart/form-data">
    {% csrf_token %}
        <label><input style="height: 15px; width:120px" type="text" onkeyup="value=value.replace(/^(0+)|[^\d]+/g,'')" maxlength='4' name="year" required="" id="year"
                      value="{{ year }}" autocomplete="off" ></label>
       <span>年</span>
        <label><input oninput="if(value<=0)value='';if(value>12)value=12" style="height: 15px; width:120px" onkeyup="value=value.replace(/^(0+)|[^\d]+/g,'')" maxlength='2' name="month" id="month"
                      value="{{ month }}" autocomplete="off"></label>
       <span>月</span>
        <label><input oninput="if(value<=0)value='';if(value>31)value=31" style="height: 15px; width:120px" onkeyup="value=value.replace(/^(0+)|[^\d]+/g,'')" maxlength='2' name="day" id="day"
                      value="{{ day }}" autocomplete="off"></label>

       <span>日</span>
       <label><button style="width:80px" type="submit" class="btn btn-primary btn-block">查询</button></label>
</form>
{% endblock %}

{% block body %}
<div class="bs-example" data-example-id="panel-without-body-with-table">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading" style="font-size: 20px">{{ date }}商品销售列表</div>

        <!-- Table -->
        <table class="table">
            <thead>
            <tr>
                <th>序号</th>
                <th>商品名称</th>
                <th>商品售价</th>
                <th>销售数量</th>
                <th>商品图片</th>
                <th>商品状态</th>
                <th>购买者</th>
                <th>付款方式</th>
                <th>商品分类</th>
                <th>出售时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for p in sold %}
            <script>
                function show{{ p.id }}() {
                  document.getElementById("dialog-img{{ p.id }}").style.display = 'block';
                }
                function hide{{ p.id }}() {
                  document.getElementById("dialog-img{{ p.id }}").style.display = 'none';
                }
                </script>
            {% endfor %}
            {% for p in sold %}
            <tr>
                <th scope="row">{{ p.id }}</th>
                <td>{{ p.name }}</td>
                <td>{{ p.sold_price }}</td>
                <td>{{ p.storage }}</td>
                 <td>
                    <div data-toggle="modal" data-target=".bs-example-modal-lg"><a href="#" onclick="show{{ p.id }}()">查看图片</a>
                    </div>
                </td>
                <div class="dialog-mask" id="dialog-img{{ p.id }}" onclick="hide{{ p.id }}()">
                    <div class="dialog-conent">
                        <img src="/media/{{ p.image }}/">
                    </div>
                </div>
                <td>已出售</td>
                <td>{{ p.purchaser }}</td>
                <td>{{ p.payment_method }}</td>
                <td>{{ p.category }}</td>
                <td>{{ p.sale_date }}</td>
                <td>
                    <a name="{{ p.id }}" href="{% url 'storage_system:sold_product_update' p.id %}" >修改信息</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% ifequal count 0 %}
    <h1 style="text-align: center; line-height: 400px">当前暂无已售商品</h1>
    {% endifequal %}
    {% if date == '' %}
    <div id="pages" class="text-center" style="float: right">
        <nav>
            <ul class="pagination">
                <li class="step-links">
                {% if sold.has_previous %}
                    <a class='active' href="/product_sold_list/?page={{ sold.previous_page_number }}">上一页</a>
                {% endif %}

                <span class="current">
                    第{{ sold.number }}/{{ sold.paginator.num_pages }}页</span>

                {% if sold.has_next %}
                    <a class='active' href="/product_sold_list/?page={{ sold.next_page_number }}">下一页</a>
                {% endif %}
                </li></ul></nav></div>
</div>
{% endif %}
{% endblock %}
