{% extends 'base.html' %}

{% load staticfiles %}

{% block search %}

<!-- Topbar Search -->
<form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" method="POST" action="/custom_search/">
      {% csrf_token %}
    <div class="input-group">
        <div class="input-group-append">
            <input type="text" style="height: 30px" class="form-control bg-light border-0 small" placeholder="搜索" aria-label="Search" aria-describedby="basic-addon2" name="keyword" required="required">
            <button class="btn btn-primary" type="submit">
                <i class="fas fa-search fa-sm" ></i>
            </button>
        </div>
    </div>
</form>
{% endblock %}

{% block body %}
<div class="bs-example" data-example-id="panel-without-body-with-table">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading" style="font-size: 20px">顾客信息列表</div>

        <!-- Table -->
        <table class="table">
            <thead>
            <tr>
                <th>姓名</th>
                <th>购买数量</th>
                <th>照片</th>
                <th>电话</th>
                <th>微信</th>
                <th>生日</th>
                <th>地址</th>
                <th>用户简介</th>
                <th>操作</th>
            </tr>
            </thead>
             {% for c in custom_list %}
            <script>
                function show{{ c.0 }}() {
                  document.getElementById("dialog-img{{ c.0 }}").style.display = 'block';
                }
                function hide{{ c.0 }}() {
                  document.getElementById("dialog-img{{ c.0 }}").style.display = 'none';
                }
                </script>
            {% endfor %}
            <tbody>
            {% for c in custom_list %}
            <tr>
                <td>{{ c.1 }}</td>
                {% ifequal c.2 0 %}
                <td>{{ c.2 }}</td>
                {% else %}
                <td><a style="text-decoration:none;" name="{{ c.0 }}" href="{% url 'storage_system:product_custom_list' c.0 %}">{{ c.2 }}</a></td>
                {% endifequal %}
                <td>
                    <div data-toggle="modal" data-target=".bs-example-modal-lg"><a href="#" onclick="show{{ c.0 }}()">查看图片</a>
                    </div>
                </td>
                <div class="dialog-mask" id="dialog-img{{ c.0 }}" onclick="hide{{ c.0 }}()">
                    <div class="dialog-conent">
                        <img src="/media/{{ c.3 }}/">
                    </div>
                </div>
                <td>{{ c.4 }}</td>
                <td>{{ c.5 }}</td>
                <td>{{ c.6|default_if_none:'' }}</td>
                <td>{{ c.7 }}</td>
                <td>{{ c.8|default_if_none:'' }}</td>
                <td>
                    <a name="{{ c.0 }}" href="{% url 'storage_system:custom_update' c.0 %}">修改信息</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% ifequal count 0 %}
    <h1 style="text-align: center; line-height: 400px">当前没有顾客,快去<a href="/create_custom">添加</a>吧</h1>
    {% endifequal %}
</div>
{% endblock %}
